SECRET_KEY=replace_with_a_long_random_string

MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_google_app_password
MAIL_DEFAULT_SENDER=your_email@gmail.com

ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=scrypt:32768:8:1$bSIcFdznP0Ld2cB4$39ef1ddca1ccf5509bc7e2fb41bff50f9815332b7d77f787c38db235742e0aa79717500951cf8b57971c467dce2a7ec55c63457571cfb938a50e04fac48b9a72

DATABASE_URL=postgresql+psycopg2://user:password@host:5432/dbname
