<nav class="navbar">

    <div class="nav-container">

        <!-- Logo -->
        <a href="#hero" class="logo">
            <span>B</span>inod
        </a>

        <!-- Navigation -->
        <ul class="nav-links">

            <li><a href="#hero" class="nav-link active">Home</a></li>

            <li><a href="#about" class="nav-link">About</a></li>

            <li><a href="#skills" class="nav-link">Skills</a></li>

            <li><a href="#projects" class="nav-link">Projects</a></li>

            <li><a href="#experience" class="nav-link">Experience</a></li>

            <li><a href="#contact" class="nav-link">Contact</a></li>

        </ul>

    </div>

</nav>