@import url("navbar.css");
@import url("hero.css");
@import url("about.css");
@import url("skills.css");
@import url("projects.css");
@import url("experience.css");
@import url("contact.css");
@import url("footer.css");
@import url("responsive.css");
@import url("admin.css");
/* ===================================
            GLOBAL STYLES
=================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#070B1C;
    color:#fff;
    overflow-x:hidden;

    /* Prevent the fixed navbar from covering content */
    padding-top:80px;
}

section{
    scroll-margin-top:100px;
}

img{
    max-width:100%;
    display:block;
}

a{
    text-decoration:none;
    color:inherit;
}

ul{
    list-style:none;
}

/* ==========================================
            SCROLL PROGRESS BAR
========================================== */

.scroll-progress{

    position:fixed;

    top:0;

    left:0;

    width:0%;

    height:4px;

    background:linear-gradient(
        90deg,
        #00F5FF,
        #7B61FF
    );

    z-index:9999;

    box-shadow:
        0 0 15px #00F5FF,
        0 0 25px #7B61FF;

}

/* ==========================================
            MOUSE GLOW
========================================== */

.mouse-glow{

    position:fixed;

    width:420px;

    height:420px;

    border-radius:50%;

    background:radial-gradient(
        circle,
        rgba(0,245,255,.18) 0%,
        rgba(123,97,255,.10) 40%,
        transparent 75%
    );

    pointer-events:none;

    transform:translate(-50%,-50%);

    z-index:0;

    filter:blur(45px);

    transition:
        left .08s linear,
        top .08s linear;

}
/* ==========================================
            PARTICLE BACKGROUND
========================================== */

#particles{

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    z-index:-1;

    pointer-events:none;

}