{% extends "base.html" %}

{% block title %}Admin Login{% endblock %}

{% block content %}

<section style="padding:120px 8%; max-width:500px; margin:auto; color:white;">

    <h1>Admin Login</h1>

    <form method="POST">

        {{ form.hidden_tag() }}

        <p>{{ form.username.label }}</p>
        {{ form.username(style="width:100%;padding:12px;") }}

        <br><br>

        <p>{{ form.password.label }}</p>
        {{ form.password(style="width:100%;padding:12px;") }}

        <br><br>

        {{ form.submit(class="btn-primary") }}

    </form>

</section>

{% endblock %}